<!DOCTYPE html>
<html>
  <head>
    <title>Peeled Tomatoes | Harry Ray | Ruby on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'htb', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto:500" rel="stylesheet">
    <script src="https://use.fontawesome.com/a233143578.js"></script>
  </head>

  <body id="bad">
    <%= yield %>
  </body>
</html>
